@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&family=Plus+Jakarta+Sans:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green-50: #bee7cf;
  --green-100: #abe0c1;
  --green-200: #86d2a6;
  --green-300: #61c48a;
  --green-400: #3cb66f;
  --green-500: #17a853;
  --green-600: #138d46;
  --green-700: #107238;
  --green-800: #0c572b;
  --green-900: #083c1e;

  --blue-50: #c4e7ed;
  --blue-100: #b4e0e8;
  --blue-200: #92d2de;
  --blue-300: #71c4d4;
  --blue-400: #4fb6ca;
  --blue-500: #2ea8c0;
  --blue-600: #278da1;
  --blue-700: #1f7283;
  --blue-800: #185764;
  --blue-900: #113c45;

  --aqua-50: #d1f4f2;
  --aqua-100: #c3f1ee;
  --aqua-200: #a9ebe6;
  --aqua-300: #8ee4de;
  --aqua-400: #74ded7;
  --aqua-500: #59d8cf;
  --aqua-600: #4bb5ae;
  --aqua-700: #3d938d;
  --aqua-800: #2e706c;
  --aqua-900: #204e4b;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background);
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kadwa", serif;
  font-weight: bold;
}

p,
span,
label,
button {
  font-family: "Plus Jakarta Sans", sans-serif;
}

p {
  font-weight: normal;
}

@layer utilities {
  /* Estilos utilitários personalizados para cores */
  .text-green-50 {
    color: var(--green-50);
  }
  .text-green-100 {
    color: var(--green-100);
  }
  .text-green-200 {
    color: var(--green-200);
  }
  .text-green-300 {
    color: var(--green-300);
  }
  .text-green-400 {
    color: var(--green-400);
  }
  .text-green-500 {
    color: var(--green-500);
  }
  .text-green-600 {
    color: var(--green-600);
  }
  .text-green-700 {
    color: var(--green-700);
  }
  .text-green-800 {
    color: var(--green-800);
  }
  .text-green-900 {
    color: var(--green-900);
  }

  .text-blue-50 {
    color: var(--blue-50);
  }
  .text-blue-100 {
    color: var(--blue-100);
  }
  .text-blue-200 {
    color: var(--blue-200);
  }
  .text-blue-300 {
    color: var(--blue-300);
  }
  .text-blue-400 {
    color: var(--blue-400);
  }
  .text-blue-500 {
    color: var(--blue-500);
  }
  .text-blue-600 {
    color: var(--blue-600);
  }
  .text-blue-700 {
    color: var(--blue-700);
  }
  .text-blue-800 {
    color: var(--blue-800);
  }
  .text-blue-900 {
    color: var(--blue-900);
  }

  .text-aqua-50 {
    color: var(--aqua-50);
  }
  .text-aqua-100 {
    color: var(--aqua-100);
  }
  .text-aqua-200 {
    color: var(--aqua-200);
  }
  .text-aqua-300 {
    color: var(--aqua-300);
  }
  .text-aqua-400 {
    color: var(--aqua-400);
  }
  .text-aqua-500 {
    color: var(--aqua-500);
  }
  .text-aqua-600 {
    color: var(--aqua-600);
  }
  .text-aqua-700 {
    color: var(--aqua-700);
  }
  .text-aqua-800 {
    color: var(--aqua-800);
  }
  .text-aqua-900 {
    color: var(--aqua-900);
  }
  .shadow-custom {
    box-shadow: 0 0 8px 2px rgba(100, 99, 99, 0.5);
  }
}
